<div class="row">
	<div class="col-sm-3">
		<img class="img-thumbnail img-responsive" src="/RDDR/assets/images/{{ include.param1 }}" alt="{{ include.param2 }}" />
		<small>{{ include.param2 }}</small>
	</div>
	<div class="col-sm-3">
		<img class="img-thumbnail img-responsive" src="/RDDR/assets/images/{{ include.param3 }}" alt="{{ include.param4 }}" />
		<small>{{ include.param4 }}</small>
	</div>
		<div class="col-sm-3">
		<img class="img-thumbnail img-responsive" src="/RDDR/assets/images/{{ include.param5 }}" alt="{{ include.param6 }}" />
		<small>{{ include.param6 }}</small>
	</div>
	<div class="col-sm-3">
		<img class="img-thumbnail img-responsive" src="/RDDR/assets/images/{{ include.param7 }}" alt="{{ include.param8 }}" />
		<small>{{ include.param8 }}</small>
	</div>
</div>
<br />
