<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/RDDR/">RDDR</a>
    </div>
    <!-- fix mobile collapse -->
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      {% assign sorted_pages = site.pages | sort:"name" %}
      {% for p in sorted_pages %}
      {% if p.id != "home" %}
        <li>
          <a href="/RDDR{{ p.url }}">
            {{ p.title }}
          </a>
        </li>
      {% endif %}
      {% endfor %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Prototypen <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/RDDR/RDDR-Prototypes/iPad-Cluster/index.html">iPad-Cluster</a></li>
            <li><a href="/RDDR/RDDR-Prototypes/iPad-Stream/index.html">iPad-Stream</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Downloads <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/RDDR/downloads/RDDR-Presentation.pdf">RDDR-Presentation.pdf</a></li>
            <li><a href="/RDDR/downloads/RDDR-Presentation.zip">RDDR-Presentation.key</a></li>
            <li><a href="/RDDR/downloads/RDDR-Print.zip">RDDR Druckversion</a></li>
            <li><a href="https://github.com/PDXIII/RDDR/archive/master.zip">Das gesamte Projekt</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>